<!DOCTYPE html>
<html lang="en">
<head>
  <title>Doctor Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/patientregister.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="/javascripts/angular.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycntrl">

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <h2>Doctor Login</h2>
                <br>
                <form class="card">
                   
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="doctorlog.email">
                    </div>
                    
                    <div class="form-group">
                        <label for="doctorid">DoctorID</label>
                        <input type="text" class="form-control" id="doctorid" placeholder="Enter DoctorID" name="doctorid" ng-model="doctorlog.doctorid">
                    </div>

                    <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="doctorlog.pwd">
                    </div>


                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                    <button class="btn btn-default but" ng-click="doctorlogdata(doctorlog)">Login</button>
                    <div class="col-md-4"></div>
                    </div>
                    </div>
                </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

</body>
</html>
