<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data Display</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="/javascripts/angular.js"></script>
  
  <link rel="stylesheet" href="/stylesheets/profiledisplay.css">

  <link rel="stylesheet" href="/stylesheets/maicons.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">

  <link rel="stylesheet" href="/stylesheets/animate.css">

  <link rel="stylesheet" href="/stylesheets/themes.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body ng-app="myapp" ng-controller="mycntrl" ng-init="getdocdata()">

  <header>
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-sm">
            <div class="site-info">
              <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-phone fa-stack-1x"></i>
              </span> +00 123 4455 6666</a>
              <span class="divider">|</span>
              <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-envelope fa-stack-1x"></i>
              </span> mail@example.com</a>
            </div>
          </div>
          <div class="col-sm-4 text-right text-sm">
            <div class="social-mini-button">
              <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-facebook-f"></i></span></a>
              <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-twitter"></i></span></a>
              <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-instagram"></i></span></a>
              <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-solid fa-earth-asia"></i></span></a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .topbar -->

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#"><span class="text-primary">One</span>-Health</a>

        <!-- <form action="#">
          <div class="input-group input-navbar">
            <div class="input-group-prepend">
              <span class="input-group-text" id="icon-addon1"><span class="mai-search"></span></span>
            </div>
            <input type="text" class="form-control" placeholder="Enter keyword.." aria-label="Username" aria-describedby="icon-addon1">
          </div>
        </form> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupport">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/docprofile">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/docappointment">Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/doctordata">Profile</a>
            </li>
          </ul>
        </div> <!-- .navbar-collapse -->
      </div> <!-- .container -->
    </nav>
  </header>

<div class="container">
  <br>
  <div class="back">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
  <h2 class="font">Doctor Credentials</h2>
  </div>
  <div class="col-md-3"></div>
</div>
  <br>
  <div>
  <!-- <table class="table table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>age</th>
      <th>Email</th>
      <th>Password</th>
      <th>address</th>
    </tr>
    <tbody>
      <tr ng-repeat="x in patientdata">
        <td>
            <span>{{x.firstname}}</span>
        </td>
        <td>
          <span>{{x.lastname}}</span>
      </td>
      <td>
        <span>{{x.gender}}</span>
      </td>
      <td>
        <span>{{x.age}}</span>
      </td>
      <td>
        <span>{{x.email}}</span>
      </td>
        <td>
          <span>{{x.pwd}}</span>
        </td>
        <td>
          <span>{{x.address}}</span>
        </td>
      </tr>
    </tbody>
  </table> -->
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" >
    <div class="col-md-4"></div>
    <div class="col-md-5 card" >
      <div class="row" ng-repeat="x in doctordata">
        <div class="col-md-5">
        <span>Name</span><br><br>
        <span>ID</span><br><br>
        <span>Specialization</span><br><br>
        <span>Email</span><br><br>
      </div>
      <div class="col-md-1">
          <span>:</span><br><br>
          <span>:</span><br><br>
          <span>:</span><br><br>
          <span>:</span><br><br>
      </div>
      <div class="col-md-6">
        <span>{{x.firstname}} {{x.lastname}}</span><br><br>
        <span>{{x.doctorid}}</span><br><br>
        <span>{{x.specialization}}</span><br><br>
        <span>{{x.email}}</span><br><br>
     </div>
    </div>
  </div>
    <div class="col-md-3"></div>

    
  </div>
  </div>
</div>

</body>
</html>
