<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/log.css">
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
	crossorigin="anonymous"></script> -->
	<title>Logins</title>
	
</head>
<body>
	
	<!-- <nav>
		<label class="logo">MEDCARE</label>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/dept">Department</a></li>
			<li><a href="/doctors">Doctors</a></li>
			<li><a href="/serv">Services</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<label id="icon">
			<i class="fas fa-bars"></i>
		</label>
	</nav> -->
	<h1>Login Credentials</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="product-image">
						<a href="/patientlog"><img src="/images/patient.jpg" alt="Patient"></a>
					</div>
					<div class="product-info">
						<h2>Patients</h2>
						<p>Please Login</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="product-image">
						<a href="/doctorlogin"><img src="/images/eren.jpg" alt="Doctor"></a>
					</div>
					<div class="product-info">
						<h2>Doctors</h2>
						<p>Please Login</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				
					<div class="card">
						<div class="product-image">
							<a href="/receptlogin"><img src="/images/Reciptionist.jpg" alt="Reciptionist"></a>
						</div>
						<div class="product-info">
							<h2>Reciptionist</h2>
							<p>Please Login</p>
						</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<br>
		<p class="end">Please click on the Images for making Appointment or Login</p>
	</div>
</body>
</html>