<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>One Health - Medical Center</title>

  <link rel="stylesheet" href="/stylesheets/maicons.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">

  <link rel="stylesheet" href="/stylesheets/animate.css">

  <link rel="stylesheet" href="/stylesheets/themes.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="/javascripts/angular.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycntrl">

    <header>
        <div class="topbar">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 text-sm">
                <div class="site-info">
                    <a href="#"><span class="fa-stack fa-lg">
                        <i class="fa fa-phone fa-stack-1x"></i>
                      </span> +00 123 4455 6666</a>
                      <span class="divider">|</span>
                      <a href="#"><span class="fa-stack fa-lg">
                        <i class="fa fa-envelope fa-stack-1x"></i>
                      </span> mail@example.com</a>
                </div>
              </div>
              <div class="col-sm-4 text-right text-sm">
                <div class="social-mini-button">
                    <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-facebook-f"></i></span></a>
                    <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-twitter"></i></span></a>
                    <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-brands fa-instagram"></i></span></a>
                    <a href="#"><span class="class=fa-stack fa-lg"><i class="fa-solid fa-earth-asia"></i></span></a>
                </div>
              </div>
            </div> <!-- .row -->
          </div> <!-- .container -->
        </div> <!-- .topbar -->
    
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
          <div class="container">
            <a class="navbar-brand" href="#"><span class="text-primary">One</span>-Health</a>
    
            <!-- <form action="#">
              <div class="input-group input-navbar">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="icon-addon1"><span class="mai-search"></span></span>
                </div>
                <input type="text" class="form-control" placeholder="Enter keyword.." aria-label="Username" aria-describedby="icon-addon1">
              </div>
            </form> -->
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupport">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/receptionist">Home</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/receptiondoc">Doctors</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link " href="/receotionop">GET OP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/receptdisplay">Data</a>
                  </li>
              </ul>
            </div> <!-- .navbar-collapse -->
          </div> <!-- .container -->
        </nav>
      </header>


    <div class="page-section">
        <div class="container">
          <h1 class="text-center wow fadeInUp">Make an Appointment</h1>
    
          <form class="main-form">
            <div class="row mt-5 ">
              <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Full name" ng-model="appointment.firstname">
              </div>
              <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address.." ng-model="appointment.email">
              </div>
              <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                <input type="date" id="date" name="date" class="form-control" ng-model="appointment.date">
              </div>
              <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                <select name="departement" id="departement" class="custom-select" ng-model="appointment.departement">
                  <option value="general">General Health</option>
                  <option value="cardiology">Cardiology</option>
                  <option value="dental">Dental</option>
                  <option value="neurology">Neurology</option>
                  <option value="orthopaedics">Orthopaedics</option>
                </select>
              </div>
              <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                <input type="text" id="num" name="num" class="form-control" placeholder="Number.." ng-model="appointment.num">
              </div>
              <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Enter message.." ng-model="appointment.message"></textarea>
              </div>
            </div>
    
            <button type="submit" class="btn btn-primary mt-3 wow zoomIn" ng-click=appointmentpostData(appointment)>Submit Request</button>
          </form>
        </div>
      </div> 

</body>
